.clockdate-wrapper {
    background-color: #000;
    padding: 25px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15%;
  }
  
  #clock {
    background-color: #000;
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 10px #0ff; /* Añade un resplandor azul */
    color: #0ff; /* Color de texto en azul neon */
  }
  
  #clock span {
    color: #f0f; /* Color de texto en magenta neon */
    text-shadow: 0px 0px 10px #f0f; /* Añade un resplandor magenta */
    font-size: 30px;
    position: relative;
    top: -27px;
    left: -10px;
  }
  
  #date {
    letter-spacing: 10px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #0ff; /* Color de texto en azul neon */
    text-shadow: 0px 0px 10px #0ff; /* Añade un resplandor azul */
  }
  